In [27]:
import pandas as pd

pd.set_option('display.max_rows',1000)
df = pd.read_csv('london_merged.csv')
df.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [30]:
# df[['Date','Time']]=df['timestamp'].str.split(' ',expand =True)
# df['Date']= pd.to_datetime(df['Date'])
# df['Date'] = df['Date'].dt.strftime('%Y-%m')
# df[['Year','Month']]=df['Date'].str.split('-',expand =True)
# dt = df.drop(columns = ['timestamp','Date'])
# dt
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['year'] = df['timestamp'].dt.year
df['month'] = df['timestamp'].dt.strftime("%b")
df['date'] = df['timestamp'].dt.date
# df['dayofweek'] = df['timestamp'].dt.dayofweek
df['day'] = df['timestamp'].dt.strftime("%A")
df['hour'] = df['timestamp'].dt.hour
dt = df.drop(columns =['timestamp'])
dt.rename(columns = {'cnt':'count','t1':'real_temp','t2':'feel_temp','hum':'humidity','weather_code':'weather'},inplace = True)
dt

,count,real_temp,feel_temp,humidity,wind_speed,weather,is_holiday,is_weekend,season,year,month,date,day,hour
0,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0,2015,Jan,2015-01-04,Sunday,0
1,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0,2015,Jan,2015-01-04,Sunday,1
2,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0,2015,Jan,2015-01-04,Sunday,2
3,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0,2015,Jan,2015-01-04,Sunday,3
4,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0,2015,Jan,2015-01-04,Sunday,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17409,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0,2017,Jan,2017-01-03,Tuesday,19
17410,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0,2017,Jan,2017-01-03,Tuesday,20
17411,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0,2017,Jan,2017-01-03,Tuesday,21
17412,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0,2017,Jan,2017-01-03,Tuesday,22
17413,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0,2017,Jan,2017-01-03,Tuesday,23

In [31]:
def wea_cod(x):
    if x == 1.0:
        return 'Clear'
    elif x == 2.0:
        return 'Scattered clouds'
    elif x == 3.0:
        return 'Broken clouds'
    elif x == 4.0:
        return 'Cloudy'
    elif x ==7.0:
        return 'Light rain'
    elif x ==10.0:
        return 'Rain with thunderstorm'
    elif x ==26.0:
        return 'Snowfall'
    elif x ==94.0:
        return 'Freezing fog'
    else:
        return x

def wee_hol(x):
    if x == 0:
        return 'No'
    elif x == 1.0:
        return 'Yes'
    else:
        return x
def sea(x):
    if x == 0.0:
        return 'Spring'
    elif x == 1.0:
        return 'Summer'
    elif x == 2.0:
        return 'Autumn'
    elif x == 3.0:
        return 'Winter'
    else:
        return x
    
dt['weather'] = dt['weather'].apply(lambda x: wea_cod(x))
dt['is_holiday'] = dt['is_holiday'].apply(lambda x: wee_hol(x))
dt['is_weekend'] = dt['is_weekend'].apply(lambda x: wee_hol(x))
dt['season'] = dt['season'].apply(lambda x: sea(x))
dt

,count,real_temp,feel_temp,humidity,wind_speed,weather,is_holiday,is_weekend,season,year,month,date,day,hour
0,182,3.0,2.0,93.0,6.0,Broken clouds,No,Yes,Winter,2015,Jan,2015-01-04,Sunday,0
1,138,3.0,2.5,93.0,5.0,Clear,No,Yes,Winter,2015,Jan,2015-01-04,Sunday,1
2,134,2.5,2.5,96.5,0.0,Clear,No,Yes,Winter,2015,Jan,2015-01-04,Sunday,2
3,72,2.0,2.0,100.0,0.0,Clear,No,Yes,Winter,2015,Jan,2015-01-04,Sunday,3
4,47,2.0,0.0,93.0,6.5,Clear,No,Yes,Winter,2015,Jan,2015-01-04,Sunday,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17409,1042,5.0,1.0,81.0,19.0,Broken clouds,No,No,Winter,2017,Jan,2017-01-03,Tuesday,19
17410,541,5.0,1.0,81.0,21.0,Cloudy,No,No,Winter,2017,Jan,2017-01-03,Tuesday,20
17411,337,5.5,1.5,78.5,24.0,Cloudy,No,No,Winter,2017,Jan,2017-01-03,Tuesday,21
17412,224,5.5,1.5,76.0,23.0,Cloudy,No,No,Winter,2017,Jan,2017-01-03,Tuesday,22
17413,139,5.0,1.0,76.0,22.0,Scattered clouds,No,No,Winter,2017,Jan,2017-01-03,Tuesday,23

In [32]:
dt.to_excel('London_Bike.xlsx',index = False)